<div>
  <form action='/task/{{_id}}/delete' method='POST'>
    <input type='checkbox' id='{{_id}}' name='task' />
    <label for='{{_id}}'>{{task}}</label>
    <a href='/task/{{_id}}/edit'>Edit</a>
    <button>Delete</button>
  </form>
</div>